.about-us {
    background-image: url(../img/figure-left.svg), url(../img/figure-right.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: top 88px left -10px, top 142px right -14px;
}

.about-us h2 {
    margin-top: 50px;
    margin-bottom: 40px;
    text-align: center;
}

.about-us__text {
    margin-bottom: 40px;
}

.about-us__text p {
    margin-bottom: 0;
    text-align: center;
}

.choice {
    font-weight: 500;
}

.offer {
    font-weight: 600;
    text-align: center;
    margin-bottom: 40px;
}

.offer-slider {
    max-width: 920px;
    margin:  0 auto;
    transform: translateX(21px);
}

.offer-item {
    text-align: center;
    padding-bottom: 40px;
    padding-left: 16px;
    padding-right: 16px;
}

.offer-item-1 {
    width: 315px;
}

.offer-item-2 {
    width: 253px;
}

.offer-item-3 {
    width: 365px;
}

.offer-item__num {
    display: inline-block;
    width: 71px;
    height: 71px;
    line-height: 71px;
    border-radius: 50%;
    background: #115701;
    margin-bottom: 40px;
    text-align: center;
    font-weight: 600;
    font-size: 30px;
    color: #fff;
}

.offer-item__text {
    min-height: 66px;
}

@media (max-width: 1439px) {
    .about-us {
        background-image: none;
    }
}

@media (max-width: 992px) {
    
    .offer-slider {
        width: 100%;
        transform: translateX(0);
    }

    .offer-item-1 {
        width: 100%;
    }
    
    .offer-item-2 {
        width: 100%;
    }
    
    .offer-item-3 {
        width: 100%;
    }
}