.direction {
    background-image: url(../img/leaves-left.svg), url(../img/leaves-right.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: top -249px left -150px, top -249px right -150px;
}

.direction-top {
    display: flex;
    justify-content: space-between;
    padding-top: 106px;
    margin-bottom: 236px;
}

.flight {
    margin-top: 116px;
    margin-right: -45px;
    padding-left: 42px;
}

.flight h2 {
    margin-bottom: 15px;
}

.flight p {
    margin-bottom: 0;
}

.route {
    font-weight: 500;
}

.btn-flight {
    width: 307px;
    height: 75px;
    margin-top: 30px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    border-radius: 38px;
    background-color: #EFC12D;
    border: #EFC12D;
}

.car {
    position: relative;
}

.car img {
    position: absolute;
    top: 0;
    right: 40px;
}

.direction-bottom {
    background-color: #F6F6F6;
}

.direction-bottom h2 {
    padding-top: 63px;
    margin-bottom: 40px;
    text-align: center;
}

.direction-slider {
    position: relative;
    padding: 0 124px;
    margin-bottom: 50px;
}

.direction-slider-arrow {
    position: absolute;
    top: 133px;
    cursor: pointer;
}

.slick-item {
    position: relative;
    background: #fff;
}

.slick-item__price {
    position: absolute;
    top: 16px;
    right: 0;
    background: #EFC12D;
    border-radius: 100px 0 0 100px;
    padding: 8px 16px;
}

.slick-item__price p {
    font-size: 18px;
    font-weight: 600;
    line-height: 150%;
    margin-bottom: 0;
}

.direction-slider-arrow.slick-disabled {
    cursor: default;
}

.direction-slider-prev {
    left: 50px;
}

.direction-slider-next {
    right: 50px;
}

.direction-slider-arrow svg path {
    stroke: #115701;
}

.direction-slider-arrow.slick-disabled svg path {
    stroke: #ccc;
}

.direction-slider .slick-list {
    padding-bottom: 10px;
}

.direction-slider .slick-slide {
    margin: 0 5px;
}

.direction-slider .slick-item {
    background-color: #FFF;
    
    &:hover {
        box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, .1);
    }
}

.data {
    display: flex;
    justify-content: space-between;
    margin-top: 37px; 
    width: 100%; 
    padding: 0 18px;
}

.data p {
    margin-bottom: 22px;
    line-height: 150%;
    white-space: nowrap;
}

.data-city {
    font-size: 24px;
}

.data-time {
    font-size: 18px;
    padding-top: 7px;
}

.direction__reservation {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 18px;
    margin-bottom: 30px;
}

.btn-reservation {
    width: 146px;
    height: 46px;
    background: #FFF;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    border: 2px solid #EFC12D;
    border-radius: 100px;

    &:hover {
        background-color: #EFC12D;
    }
}

.reservation__link {
    margin-top: 15px;
    font-size: 13px;
    line-height: 16px;
    color: #000;
    font-weight: 600;
    text-decoration: none;
    border-bottom: 1px solid #EFC12D;
    padding-bottom: 10px;

    &:hover {
        text-decoration: none;
        color: #000;
    }
}

.direction-bottom__btn {
    text-align: center;
    padding-bottom: 62px;
}

.direction-bottom .btn-flight {
    margin: 0;
}