.direction {
    background-image: url(../img/leaves-left.svg), url(../img/leaves-right.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: top -249px left -150px, top -249px right -150px;
}

.direction-top {
    display: flex;
    justify-content: space-between;
    padding-top: 106px;
    margin-bottom: 236px;
}

.flight {
    margin-top: 116px;
    margin-right: -45px;
    padding-left: 42px;
}

.flight h2 {
    margin-bottom: 15px;
}

.flight p {
    margin-bottom: 0;
}

.route {
    font-weight: 500;
}

.btn-flight {
    width: 307px;
    height: 75px;
    margin-top: 30px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    border-radius: 38px;
    background-color: #EFC12D;
    border: #EFC12D;
}

.car {
    position: relative;
}

.car img {
    position: absolute;
    top: 0;
    right: 40px;
}

.direction-bottom {
    background-color: #F6F6F6;
}

.direction-bottom h2 {
    padding-top: 63px;
    margin-bottom: 40px;
    text-align: center;
}

.direction-slider {
    position: relative;
    padding: 0 124px;
}

.direction-slider-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.direction-slider-prev {
    left: 0;
}

.direction-slider-next {
    right: 0;
}

.direction-slider .slick-item {
    padding: 0 5px;
    background-color: #FFFFFF;
}

.data {
    display: flex;
    margin-top: 37px;  
}

.data p {
    margin-bottom: 22px;
    line-height: 150%;
}

.data-city {
    font-size: 24px;
    padding-left: 29px;
}

.data-time {
    font-size: 18px;
    padding-top: 7px;
}

.direction__reservation {
    padding-left: 28px;
    margin-bottom: 30px;
}

.btn-reservation {
    width: 146px;
    height: 46px;
    background: #FFFFFF;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    border: 2px solid #EFC12D;
    border-radius: 100px;
    margin-right: 43px;
}

.reservation__link {
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    text-decoration: none;
    border-bottom: 1px solid #EFC12D;
}

.direction-bottom__btn {
    text-align: center;
}

.direction-bottom .btn-flight {
    margin-top: 24px;
    margin-bottom: 62px;
}