.modal-dialog {
    max-width: 883px;
}

.modal-content {
    border: none;
    border-radius: 0;
}

.modal-direction .modal-body {
    padding: 0;
}

.modal-direction-img {
    width: 100%;
}

.modal-direction__title {
    text-align: center;
    font-weight: 500;
    font-size: 60px;
    line-height: 150%;
    margin: 85px 0 40px;
}

.modal-direction__info {
    max-width: 222px;
    margin: 0 auto;
}

.modal-direction__info p {
    margin: 0;
    text-align: center;
}

.modal-direction__city-title {
    text-align: center;
    font-weight: 500;
    font-size: 30px;
    line-height: 150%;
    margin: 40px 0;
}

.modal-direction__city-wrap {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.modal-direction__city {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.modal-direction__city li {
    position: relative;
    font-size: 25px;
    line-height: 150%;
    padding-left: 20px;
    margin-bottom: 20px;

    &:before {
        content: '';
        width: 10px;
        height: 10px;
        background: #115701;
        border-radius: 50%;
        position: absolute;
        left: 0;
        top: 13px;
    }
}

.modal-direction__btn-wrap {
    text-align: center;
    padding-bottom: 83px;
}

/* MODAL BOOKING */ 

.modal-booking .modal-body {
    padding: 57px 70px;
}

.form-booking__title {
    font-weight: 500;
    font-size: 60px;
    line-height: 150%;
    margin-bottom: 40px;
}

.form-booking__subtitle {
    font-size: 25px;
    line-height: 150%;
    text-align: center;
    margin-bottom: 40px;
}

.form-booking {
    padding: 0 37px;
}

.form-booking .form-group {
    padding-bottom: 20px;
    margin-bottom: 0;
    overflow: hidden;
}

.form-booking__label {
    font-size: 25px;
    line-height: 150%;
    font-weight: 400;
    margin-bottom: 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.form-booking__input {
    border: 2px solid #000;
    height: 80px;
    border-radius: 0;
    padding: 23px 50px;
    margin-bottom: 20px;
    color: #000;
    font-size: 22px;
    background: #fff !important;

    &:focus {
        box-shadow: none;
        border-color: #000;
    }

    &::placeholder {
        color: #CCC;
    }
}

.form-booking__quantity {
    display: flex;
    align-items: center;
}

.form-booking__quantity__input {
    width: 90px;
    padding-left: 0;
    padding-right: 0;
    margin:  0 30px;
    text-align: center;
    background: #fff !important;
    font-size: 40px;
    text-indent: 2px;
}

.form-booking__quantity__btn {
    width: 16px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.modal-booking .modal-direction__btn-wrap {
    padding: 0;
}

.datepicker-booking {
    z-index: 2000;
}

/* END MODAL BOOKING */ 

/* MODAL CALL */


.modal-call .modal-dialog {
    max-width: 724px;
}

.modal-call .close {
    width: auto;
    position: absolute;
    right: 24px;
    top: 24px;
    opacity: 1;
    border: none;
    background: transparent;
    outline: none !important;
    z-index: 5;

    &:hover {
        opacity: 0.7;
    }
}

.modal-call .modal-body {
    padding: 70px 0;
    width: 100%;
    max-width: 473px;
    margin-left: auto;
    margin-right: auto;
}

.form-call__title {
    font-weight: 500;
    font-size: 40px;
    line-height: 150%;
    margin-bottom: 40px;
}

.modal-call .btn-flight {
    margin: 0;
    width: 100%;
}

.modal-call .form-group {
    padding-bottom: 20px;
    margin-bottom: 0;
    overflow: hidden;
}

.modal-call .modal-direction__btn-wrap {
    padding: 0;
}
/* END MODAL CALL */ 

@media (max-width: 767px) {

    .modal-direction__title {
        font-size: 36px;
        margin: 40px 0 20px;
    }

    .modal-direction__info p {
        font-size: 16px;
        line-height: 1.5;
    }

    .modal-direction__city-title {
        font-size: 22px;
        margin: 24px 0;
    }

    .modal-direction__city li {
        font-size: 20px;
        line-height: 130%;
        padding-left: 18px;
        margin-bottom: 12px;
    }

    .modal-direction__city li:before {
        width: 9px;
        height: 9px;
        top: 10px;
    }

    .btn-flight {
        width: 240px;
        height: 60px;
        margin-top: 10px;
        font-size: 20px;
        border-radius: 30px;
    }

    .form-booking__title {
        font-size: 36px;
        line-height: 130%;
        margin-bottom: 22px;
        text-align: center;
    }

    .form-booking__subtitle {
        font-size: 18px;
        line-height: 140%;
        margin-bottom: 22px;
    }

    .form-booking__label {
        font-size: 18px;
        line-height: 140%;
        margin-bottom: 16px;
    }

    .form-booking__input {
        height: 50px;
        margin-bottom: 10px;
        font-size: 18px;
    }

    .form-booking .form-group {
        padding-bottom: 14px;
    }

    .form-call__title {
        font-size: 36px;
        line-height: 130%;
        margin-bottom: 22px;
    }
}

@media (max-width: 639px) {

    .modal-booking .modal-body {
        padding: 40px 50px;
    }

    .form-booking__title {
        font-size: 32px;
        line-height: 130%;
        margin-bottom: 18px;
        text-align: center;
    }

    .form-booking__subtitle {
        font-size: 16px;
        line-height: 130%;
        margin-bottom: 18px;
    }

    .form-booking {
        padding: 0;
    }

    .form-booking__label {
        font-size: 16px;
        line-height: 130%;
        margin-bottom: 12px;
    }

    .form-booking__input {
        margin-bottom: 6px;
        font-size: 16px;
    }

    .form-booking .form-group {
        padding-bottom: 10px;
    }

    .form-call__title {
        font-size: 32px;
        line-height: 130%;
        margin-bottom: 18px;
    }

    .modal-call .modal-body {
        padding: 50px 15px;
    }
}

@media (max-width: 419px) {

    .modal-booking .modal-body {
        padding: 30px 20px;
    }

    .form-booking__title {
        font-size: 30px;
        line-height: 130%;
        margin-bottom: 16px;
        text-align: center;
    }

    .form-booking__subtitle {
        font-size: 16px;
        line-height: 130%;
        margin-bottom: 16px;
    }

    .form-call__title {
        font-size: 30px;
        line-height: 130%;
        margin-bottom: 16px;
    }

    .modal-call .modal-body {
        padding: 50px 15px;
    }
}