@import url(https://fonts.googleapis.com/css?family=Montserrat:400,500,600,800);
//font-family: 'Montserrat', sans-serif;
  
body {
   font-family: 'Montserrat', sans-serif;
   font-weight: 400;
   color: #000;
   font-size: 22px;
   line-height: 33px;
}

h2, .h2 {
   font-family: 'Montserrat', sans-serif;
   font-weight: 500;
   font-size: 42px;
   line-height: 150%;
   color: #000;
}

@media (max-width: 767px) {
   h2, .h2 {
      font-size: 22px;
   }
}